*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: lightgray;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Acme' , sans-serif;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
input{
    width: 75%;
    margin-right: 0;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
}
.addBtn{
    width: 25%;
    padding: 10px;
    margin-left: 0;
    background: #d9d9d9;
    color:#555;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Tahoma , sans-serif;
    font-weight: bold;
}
.addBtn:hover {
    background-color: #bbb;
    color: #fff;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;
    font-family: Tahoma, sans-serif;
    user-select: none;
}
ul li:nth-child(odd){
    background: #b2bec3;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #888;
    color: #ffffff;
    text-decoration: line-through;
}
ul li.checked::before {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.far {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.far:hover {
    background-color: tomato;
    color: white;
}






